<h1 class="h3 mb-2 text-gray-800">Deploy API</h1>
<div class="col-lg-7">
  <form [formGroup]="apiFormGroup" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="apiName">API Name</label>
      <input class="form-control form-control-user" formControlName="apiName" type="text" placeholder="your unique api name..." />
    </div>

    <div class="form-group">
      <label for="apiContext">API Context</label>
      <input class="form-control" formControlName="apiContext" type="text" placeholder="/your/unique/context..." />
    </div>
    
    <div class="form-group">
      <label for="endpointType">Endpoint Type</label>
      <select class="form-control" formControlName="endpointType">
        <option></option>
        <option>HTTP</option>
        <option>HTTPS</option>
      </select>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="secured">
      <label class="form-check-label" for="secured">Secured</label>
    </div>

    <div class="input-group" style="margin-bottom: 1rem;">
      <input type="text" class="form-control" placeholder="http://your swagger endpoint..." aria-label="Search" aria-describedby="basic-addon2" formControlName="swaggerEndpoint">
      <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        <i class="fas fa-search fa-sm" (click)="previewSwagger()">Preview</i>
      </button>
      </div>
    </div>
    <div class="card shadow mb-4" [hidden]="!showSwaggerDefinition">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Swagger Definition</h6>
      </div>
      <div class="card-body">
        <div id="swagger-ui"></div>
      </div>
    </div>
   
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="throttlingPolicies">
      <label class="form-check-label" for="throttlingPolicies">Throttling Policies</label>
    </div>

    <div class="card border-left-primary shadow h-100 py-2" *ngIf="showThrottlingPolicies">
      <div class="card-body">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="applyPerPath">
          <label class="form-check-label" for="applyPerPath">Apply per Path</label>
        </div>
        <div class="form-group">
          <label for="maxCallsAllowed">Max Calls Allowed</label>
          <input class="form-control" formControlName="maxCallsAllowed" type="number" />
        </div>
        <div class="form-group">
          <label for="periodForMaxCalls">Period (in minutes) for max calls</label>
          <input class="form-control" formControlName="periodForMaxCalls" type="number" />
        </div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="blockIfInError">
      <label class="form-check-label" for="blockIfInError">Block if in error</label>
    </div>
    <div class="card border-left-primary shadow h-100 py-2" *ngIf="showBlockIfInError">
      <div class="card-body">
        <div class="form-group">
          <label for="maxAllowedFailedCalls">Max allowed fail calls</label>
          <input class="form-control" formControlName="maxAllowedFailedCalls" type="number" />
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="unblockAfter">
          <label class="form-check-label" for="unblockAfter">Unblock after?</label>
        </div>
        <div class="form-group">
          <label for="unblockAfterMinutes">Unblock After (minutes)</label>
          <input class="form-control" formControlName="unblockAfterMinutes" type="number" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success btn-user btn-block">Deploy</button>
    </div>
  </form>
</div>